<header>
<h1>crimp your link</h1>

<% if(username) { %>
  
  <form action="/logout" method="post">
    <h2>
      Hello <%= username %>
      <button type="submit">Log out</button>
    </h2>
  </form>

<% } else { %>
<form action="/login" method="POST">
  <label for="username">Name:</label>
    <input id="username" placeholder="username" type="text" name="username">
    <input type="submit" value="log in">
</form>
<% } %>
</header>