<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <!-- A list or table of the URLs and their shortened forms, and a link for shortening a new URL -->
  <ul>
    <% for (var item in urls) { %>
      <li>
        <%= item %> -
          <%= urls[item] %>
      </li>
      <li>
        <a href='www.google.com'>link</a>
      </li>
      <% } %>
  </ul>
</body>

</html>