<!--  displaying a single URL and its shortened form. The end point for such a page will be in the format /urls/b2xVn2 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<header>
  <% include ./partials/_header %>
</header>

<body>
  <!-- display a single URL and its shortened form -->
  <ul>
    <li>
      full URL:
      <%= longURL %> || shortened form:
        <%= shortURL %>
    </li>
    <li>
    </li>
  </ul>
  <form action='/urls/<%= shortURL %>/edit' method='POST' style='margin:150px;'>
    <label for='longURL'>Enter a URL:</label>
    <input id='longURL' type='text' name='longURL' placeholder='<%= longURL %>' style='width: 300px'>
    <input type='submit' value='Submit'>
  </form>
</body>

</html>