<% include ./partials/_head %>

<% include ./partials/_header %>

<body>
  <h2>Your URLs ＼(＾▽＾)／ </h2>
  <!-- A list or table of the URLs and their shortened forms, and a link for shortening a new URL -->
  <ul>

    <% for (var item in urls) { %>
      <li>
        <form method="POST" action="/urls/<%= item %>/delete">
          <%= item %> -> <%= urls[item] %> 
          <a href="/urls/<%= item %>">update</a> 
          <input type="submit" value="delete">
      </form>
      </li>
      <% } %>
  </ul>
  <a href="/urls/new">Click to add a new URL</a>
</body>

</html>